.nav-container {
    background-color: #375A7F;
    border-radius: 20px;
    border: 1px solid #E0E6FF;
    display: flex;
    overflow: hidden;
    margin-bottom: -40px;
    
  }
  
  .nav-tab {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #F8F9FA;
  }

  .tab-button {
    display: flex;
    background: #3498DB;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: auto;
    color: #F8F9FA;
  }
  
  .nav-tab:hover {
    background-color: #2C81BA;
    border-radius: 20px;
  }

  .nav-context {
    justify-content: space-between;
  }
  .list-Title {
    background-Color: #5090CC;
  }