@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container-wrapper {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%; /* 고정된 너비 */
  display: flex;
  align-items: center;
}

.text-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.text {
  display: inline-block;
  background-color: #F8D7DA; /* 배경 색상 조정 */
  padding: 0.3rem 1rem; /* 패딩 조정 */
  margin-right: 1.5rem; /* 스크롤링 텍스트 간 간격 */
  border-radius: 1rem;
  color: black;
  font-weight: bold;
}