body {
  color: black !important;
  width: 100%;
  min-width: 1600px;
}
.row {
  margin-bottom: 20px;
}
.custom-modal-size {
    max-width: none; /* Override Bootstrap's max-width */
  }

  .stats-card {
    background-color: #FFBB64;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0px 10px 0px 0px;
  }

  .dropdown-item:hover {
    background-color: #F5CF8C !important;
  }

  .dropdown-style {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.9rem !important;
  }

  @media (min-width: 576px) { /* Adjust this breakpoint as needed */
    .custom-modal-size {
      width: 90vw; /* Adjust the width to what is considered double size in your application */
    }
  }