.custom-modal-size {
    width: 100vw; /* Full viewport width */
    max-width: none; /* Override Bootstrap's max-width */
  }
  
  .table-fixed {
    width: 100%;
    table-layout: fixed;
  }

  .table-fixed th,
.table-fixed td {
  text-align: center;
  vertical-align: middle;
}

.table-fixed td:nth-child(5) {
  text-align: left;
}

.custom-dropdown .dropdown-menu {
  padding: 0;
}

.custom-dropdown .dropdown-item {
  display: flex;
  align-items: center;
}

.custom-dropdown .color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.custom-dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}




  @media (min-width: 576px) { /* Adjust this breakpoint as needed */
    .custom-modal-size {
      width: 90vw; /* Adjust the width to what is considered double size in your application */
    }
  }