  
  .Edit-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .Edit-step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .step-number {
    min-width: 25px; /* Ensures enough space for the text */
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 11px;
  }
  
  .step-description {
    text-align: left;
  }
  
  .active .step-number {
    /* Add a slight shadow to the active step for effect */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  
  .task-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start of the flex container */
    width: 100%; /* Adjust width as needed */
  }
  
  .task-title {
    font-weight: bold; /* Makes the title bold */
    margin-bottom: 15px; /* Space between title and the group box */
  }
  
  .group-box {
    border: 2px solid #ccc; /* Light grey border */
    padding: 15px;
    border-radius: 8px; /* Optional: rounded corners for the box */
    width: 100%; /* Adjust width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  }
  
  .task-step {
    display: flex;
    align-items: center; /* Vertically centers the items in the flex container */
    margin-bottom: 10px; /* Space between each task step */
  }
  
  .status-circle {
    margin-right: 10px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 0.75rem; /* Adjust as needed */
  }
  
  .task-description {
    white-space:pre-wrap;
  }