

.plus-edit {
    align-items: flex-end;
    margin-right: 5px;
}

.nav-container {
    background-color: #E0EFFF;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 359px;
  }
  
  .nav-tab {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #333;
    
  }

  .tab-button {
    display: flex;
    justify-content:space-around;
    background: #bda0f3;
    border: none;
    border-radius: 20px;
    padding: 7px 12px;
    
    
    margin: auto;
    box-Shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .nav-tab:hover {
    background-color: #CCE0FF;
    border-radius: 20px;
  }

  .tab-button.active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    border-color: #CCE0FF;
  }
  
  .tab-button:focus {
    border-color: #CCE0FF;
  }

  .sss {
    justify-content: space-between; 
  }
  .lesss {
    background-Color: #5090CC;
  }