.git-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 303px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* .git-container-title {

    color: #333;
    font-size: 1em;
    padding: 10px 10px;
    margin: 0;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(12, 6, 6);
} */

.git-container-page-header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.3rem 0.5rem;
    background-color: #eee;
    font-size: 0.9rem;
}

.git-container-header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #ccc;
    background-color: #CAE6B2;
    font-size: 0.9rem;
}

.button-container {
    display: flex;
}

.git-page-path {
    flex-grow: 1;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.3rem;
    box-sizing: border-box;
}

.git-path {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.3rem;
    box-sizing: border-box;
}

.git-container-body {
    margin: 0.5rem;
}

.git-list {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.git-list-name {
    display: flex;
    text-align: right;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: #333;
}

.conn-button {
    padding: 0.5rem 0.5rem;
    font-size: 0.7em;
    color: #333;
    background-color: #eee;
    /* A light green background */
    border: 1px solid #ccc;
    /* A subtle border */
    border-radius: 4px;
    /* Rounded corners for the button */
    cursor: pointer;
    /* Change the cursor to indicate it's clickable */
}